# web folder
/web
/vhosts
build
install
/build-assets/install

.*~
*.*~

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
.idea

# base .htaccess
.htaccess
